.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #264414;
    color: white;
    font-size: 1.25rem;
  }
  
  .nav a {
    margin-left: 1.5rem;
    text-decoration: none;
    color: white;
    font-weight: normal;
    transition: color 0.3s;
  }
  
  .nav a:hover {
    color: #a4de02;
  }
  